<div class="container mb-1">
<h1>Impressum</h1>
<h2>Name und Anschrift</h2>
<p>Universität Augsburg</p>
<p>Universitätsstraße 2</p>
<p>86159 Augsburg</p>

<h2>Rechtsform und Vertretung</h2>
<p>Die Universität Augsburg ist eine Körperschaft des Öffentlichen Rechts und staatliche Einrichtung (Art. 11 Abs. 1 BayHSchG). Sie wird gesetzlich vertreten durch die Präsidentin, Prof. Dr. Sabine Doering-Manteuffel.</p>



<h2>Zuständige Aufsichtsbehörde</h2>
<p>Bayerisches Staatsministerium für Wissenschaft und Kunst</p>
<p>Salvatorstraße 2</p>
<p>80333 München</p>
<a href="www.km.bayern.de">www.km.bayern.de</a>

<h2>Umsatzsteueridentifikationsnummer gemäß § 27 a Umsatzsteuergesetz</h2>
<p>DE 192097107</p>



<h2>Elektronische Kontaktaufnahme</h2>
<p>Telefon: 0821 / 598 – 0</p>
<p>Fax: 0821 / 598 – 5505</p>



<h2>Verantwortlich für angebotene Inhalte</h2>
<p>Für die angebotenen Inhalte auf den Internetseiten der Universität Augsburg sind die Leitungen der jeweiligen Fakultäten, Lehrstühle und Einrichtungen verantwortlich.</p>


<h2>Verantwortlich für zentrale journalistisch-redaktionell gestaltete Angebote nach § 55 Abs. 2 RStV:</h2>

<p>Dr. Manuela Rutsatz, Michael Hallermayer– Stabsstelle Kommunikation & Marketing</p>
<p>Telefon: 0821 / 598 – 2096</p>
<p>Telefax: 0821 / 598 – 5288</p>
<p>E-Mail:  info@presse.uni-augsburg.de</p>


<h2>Copyright</h2>
<p>Sämtliche Seiten und Abbildungen im Webangebot der Universität Augsburg sind, soweit nicht anders vermerkt, urheberrechtlich geschützt. Die Reproduktion von Seiteninhalten (auch auszugsweise) bedarf der ausdrücklichen schriftlichen Genehmigung durch die Universität Augsburg bzw. die Autoren. Externe Referenzen auf Seiten der Universität Augsburg sind jederzeit erlaubt, solange die Inhalte der Ursprungsseiten mit den Interessen der Universität nicht kollidieren. Bei Rückfragen diesbezüglich wenden Sie sich bitte an unseren Webmaster.</p>


<a href="https://www.uni-augsburg.de/de/impressum/datenschutz/">Zur Datenschutz-Erklärung</a>
</div>
